{% extends "base/base.html" %}
{% load selectable_tags %}

{% block content %}
    <section class="block">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <div>
                    <div>
                    <form action="" method="GET">
                        <div class="row collapse">
                            <div class="small-4 columns">
                              {{ search.q }}
                            </div>
                            <div class="small-8 columns">
                               <a href="#" class="button">Buscar</a>
                            </div>
                        </div>
                    </form>
                        <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="50">Id</th>
                                    <th>E-mail</th>
                                    <th width="350">Número</th>
                                    <th width="150"></th>
                                    <th width="150"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.email }}</td>
                                    <td>{{ object.number }}</td>
                                    <td>
                                        <a href="{% url 'edit' object.id %}">editar</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'delete' object.id %}">delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "base/pagination.html" %}
{% endblock %}

{% block extra %}
{% include_jquery_libs %}
{% include_ui_theme %}
{% load static %}
    <script type="text/javascript" src="{% static 'busca/js/jquery.dj.selectable.js' %}"></script>
{% endblock %}